<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedClientes()"
              [disabled]="!selectedClientes || !selectedClientes.length"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template>
      </p-toolbar>

      <!--Tabla-->
      <p-table
        #dt
        [value]="clientes"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['code', 'name', 'lastName']"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedClientes"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Clientes</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="code">
              Código <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Membresía <p-sortIcon field="memebership"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="contact_name">
              Contacto de emergencia
              <p-sortIcon field="contact_name"></p-sortIcon>
            </th>
            <th pSortableColumn="contact_phone">
              Teléfono de emergenica
              <p-sortIcon field="contact_phone"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientes>
          <tr>
            <td>
              <p-tableCheckbox [value]="clientes"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Name</span>
              {{ clientes.name }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Code</span>
              {{ clientes.code }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Membresía</span>
              {{ clientes.memebership }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Status</span>
              <span
                [class]="
                  'cliente-badge status-' +
                  (clientes.status ? clientes.status.toLowerCase() : '')
                "
                >{{ clientes.status }}</span
              >
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Contacto de emergencia</span>
              {{ clientes.contact_name }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Número de emergencia</span>
              {{ clientes.contact_phone }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="openEdit(clientes)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteCliente(clientes)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!--Agregar arreglado-->
    <p-dialog
      [(visible)]="clientesDialog"
      [style]="{ width: '450px' }"
      header="Nuevo Cliente"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="membership">Membresía</label>
          <p-dropdown
            id="memebership"
            [options]="memberships"
            optionLabel="label"
            [(ngModel)]="cliente.memebership"
            placeholder="Selecciona una membresia"
          >
          </p-dropdown>
        </div>

        <div class="field">
          <label for="name">Nombre del cliente</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="cliente.name"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !cliente.name }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.name"
            >Nombre es obligatorio.</small
          >
        </div>

        <!--
        <div class="field">
          <label for="birthDate">Fecha de nacimiento</label>
          <p-calendar 
            [showIcon]="true" 
            inputId="icon"
            id="birthDate"
            [(ngModel)]="cliente.birthDate">
          </p-calendar>
        </div>
        -->

        <div class="field">
          <label for="contact">Nombre de contacto de emergencia</label>
          <input
            type="text"
            pInputText
            id="contact_name"
            [(ngModel)]="cliente.contact_name"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !cliente.contact_name
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !cliente.contact_name"
            >Nombre de contacto es obligatorio.</small
          >
        </div>

        <div class="field">
          <label for="contact">Número del contacto de emergencia</label>
          <input
            type="number"
            pInputText
            id="contact_phone"
            [(ngModel)]="cliente.contact_phone"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !cliente.contact_phone
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !cliente.contact_phone"
            >Número del contacto es obligatorio.</small
          >
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addCliente()"
          (click)="hideDialog()"
        ></button>
      </ng-template>
    </p-dialog>

    <!--Confirmar delete-->
    <p-dialog
      [(visible)]="deleteClienteDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="clientes"
          >¿Estas seguro que deseas eliminar a <b>{{ cliente.name }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteClienteDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Sí"
          (click)="confirmDeleteCliente(cliente)"
          (click)="deleteClienteDialog = false"
        ></button>
      </ng-template>
    </p-dialog>
    <!--Editar arreglado-->
    <p-dialog
      [(visible)]="editClienteDialog"
      [style]="{ width: '450px' }"
      header="Nuevo Cliente"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="membership">Membresía</label>
          <p-dropdown
            id="memebership"
            [options]="memberships"
            optionLabel="label"
            [(ngModel)]="cliente.memebership"
            placeholder="Selecciona una membresia"
          >
          </p-dropdown>
        </div>

        <div class="field">
          <label for="name">Nombre del cliente</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="cliente.name"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !cliente.name }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.name"
            >Nombre es obligatorio.</small
          >
        </div>

        <!--
  <div class="field">
    <label for="birthDate">Fecha de nacimiento</label>
    <p-calendar 
      [showIcon]="true" 
      inputId="icon"
      id="birthDate"
      [(ngModel)]="cliente.birthDate">
    </p-calendar>
  </div>
  -->

        <div class="field">
          <label for="contact">Nombre de contacto de emergencia</label>
          <input
            type="text"
            pInputText
            id="contact_name"
            [(ngModel)]="cliente.contact_name"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !cliente.contact_name
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !cliente.contact_name"
            >Nombre de contacto es obligatorio.</small
          >
        </div>

        <div class="field">
          <label for="contact">Número del contacto de emergencia</label>
          <input
            type="number"
            pInputText
            id="contact_phone"
            [(ngModel)]="cliente.contact_phone"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !cliente.contact_phone
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !cliente.contact_phone"
            >Número del contacto es obligatorio.</small
          >
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="confirmEditCliente(cliente)"
          (click)="hideDialog()"
        ></button>
      </ng-template>
    </p-dialog>
    <!--Agregar-->
    <!--   <p-dialog [(visible)]="clientesDialog" [style]="{width: '450px'}" header="Nuevo cliente" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                    <div class="field">
                        <label for="status">Membresía</label>
                        <p-dropdown id="membership" [options]="memberships" optionLabel="label" [(ngModel)]="cliente.membership" placeholder="Selecciona una membresia">
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" [(ngModel)]="cliente.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.name">Nombre es obligatorio.</small>
                    </div>
                    <div class="field">
                        <label for="name">Fecha de Nacimiento</label>
                        <input type="text" pInputText id="birthDate" [(ngModel)]="cliente.birthDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.birthDate}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.birthDate">La fecha de nacimiento es obligatorio.</small>
                    </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCliente()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClienteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="clientes">¿Estas seguro que deseas eliminar a <b>{{cliente.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClienteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Seguro que deseas eliminar los clientes seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div> -->
  </div>
</div>
